
*{
  margin: 0px;
  padding: 0px;
}
.divclass{
  width: 200px;
  height: 200px;
  display: block;
  background-color: blue;
  color: red;
}
.divclass2{
  background: url(./asset/ai_menu.png);
  background-repeat:space;
  width: 20px;
  height: 20px;
}